/src/*.exe
/src/suzu-music-linux
/src/suzu-music-linux-debug
/src/include
/src/lib
/src/raylib
/src/resources/sample-music/*.mp3
/src/resources/sample-music/*.flac
/src/resources/sample-music/*.m4a
/raylib/src/*.a
/raylib/src/*.o
/raylib/src/*.so
